body {
  background: #e5e7eb;
  font-family: Arial, sans-serif;
}

/* RESUME PAGE */
.resume {
  width: 800px;
  margin: 40px auto;
  background: white;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* HEADER */
h1 {
  margin: 0;
}

.title {
  color: gray;
}

.contact {
  font-size: 14px;
  color: #555;
}

/* SECTIONS */
h2 {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  margin-top: 20px;
}

.section {
  margin-top: 10px;
}

.section span {
  font-size: 13px;
  color: gray;
}

ul {
  margin-top: 5px;
}
